body {
  font-family: "Plus Jakarta Sans";
  color: #83869a;
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}
.container {
  margin: 16px;
}

h1,
h3 {
  color: #13183f;
  font-weight: 800;
}

h2 {
  font-weight: 800;
  color: white;
  font-size: 24px;
}
h1 {
  font-size: 40px;
}

p {
  line-height: 26px;
  font-size: 16px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

button {
  border: none;
  border-radius: 50px;
  padding: 11px 24px;
  font-family: "Plus Jakarta Sans";
  color: white;
  font-weight: 700;
}
.dark-btn {
  background-color: #13183f;
}
.light-btn {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  font-family: "Plus Jakarta Sans";
}

header p {
  margin: 26px 0;
}
.main-hero {
  width: 100%;
  margin-top: 46px;
}

.main-header-box {
  padding: 24px 29px 32px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 10px;
}

main {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
}

.card {
  padding: 0 28px 32px;
  background: white;
  border-radius: 10px;
  position: relative;
}
.card h3 {
  color: #13183f;
  font-weight: 800;
  font-size: 20px;
  padding-top: 56px;
}
.card p {
  font-weight: 500;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 24px;
}

.card a {
  color: #f74780;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}

.card img {
  position: absolute;
  top: -25px;
}

footer {
  background: #13183f;
  padding: 36px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer img {
  height: 25px;
}

footer button {
  color: #ffffff;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 28px;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Plus Jakarta Sans";
}

@media (min-width: 768px) {
  body {
    background-image: url(./assets/image-hero-tablet.png),
      linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: top -100px right -300px, top right;
  }
  .main-hero {
    display: none;
  }

  .header-text {
    margin-top: 105px;
    width: 398px;
  }
  header {
    margin-bottom: 80px;
  }

  main {
    margin-top: 215px;

    grid-template-columns: 1fr 1fr;
    gap: 56px;
    padding-bottom: 86px;
  }

  .main-header-box {
    padding-top: 56px;
  }
  footer {
    padding: 36px 40px;
  }
}

@media (min-width: 1440px) {
  .container {
    margin: 25px 165px 0;
  }
  body {
    background-position: top -100px right -180px, top right;
  }
  h1 {
    font-size: 56px;
    line-height: 71px;
  }
  p {
    font-size: 18px;
  }

  .header-text {
    width: 457px;
  }

  button {
    font-size: 18px;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 140px;
  }

  footer {
    padding: 32px 165px;
  }
  .dark-btn:hover {
    background: #666ca3;
    cursor: pointer;
  }
  footer button:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
    cursor: pointer;
  }

  main a:hover {
    cursor: pointer;
    color: #ffa7c3;
  }
}
